.contact-form{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 80vh;
    margin-top: 4rem;
}

.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.c-right>form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.c-right .user{
    width: 20rem;
    height: 2rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 16px;
}

textarea{
    height: 4rem!important;
}

.c-blur1{
    top:1rem;
    left: 8rem;
}

@media screen and (max-width: 480px){
    .contact-form{
        flex-direction: column;
        height: 40rem;
        gap: 2rem;
    }
}


@media screen and (max-width: 360px) {
    .contact-form {
        height: auto; /* Allow height to adjust based on content */
        gap: 1.5rem; /* Adjusted gap for smaller screens */
    }

    .c-right .user {
        width: 100%; /* Full width for input fields */
    }

    .c-right > form {
        gap: 1rem; /* Adjusted gap for smaller screens */
    }

    .c-blur1 {
        left: 2rem; /* Adjusted position for smaller screens */
    }
}