.n-wrapper{
    height:10vh ;
    display: flex;
    justify-content: space-between;
    background-color: var(--orange);
    position: fixed;
    width: 100%;
     top: 0;
     z-index: 2;
}

.n-left{
    flex: 1;
    align-items: center;
    display: flex;
    padding-left: 50px;
    gap: 2rem;

}

.n-name{
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
   
}

.n-right{
    display: flex;
   
    align-items: center;
    justify-content: center;
    font-weight: 400;
    margin-right: 20px;

}

nav{
    display: flex;
    justify-content: space-between ;
    color: black;

}

nav ul{
    display: flex;
    gap:2rem;
    margin-right: 30px;
    padding-top: 20px;
    cursor: pointer;
}

nav ul li:hover{
    cursor: pointer;
    color: white;
}


.n-button{
   margin-top: 40px;
    background-color: black;
   
}
.n-right .nav-btn{
   
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.8rem;
    color: #fff;
    visibility: hidden;
   
    
  
    
   
  }
  

@media only screen and (max-width: 1024px){

   .n-right .nav-btn{
        visibility: visible;
        font-size: 20px;
        margin-right: 20rem; 
        margin-left: 50%;    
        
      }
 
      
     
    nav{
    position: fixed;
     top: 0;
     right: 70px;
     height: 50%;
     width: 50%;
     display: flex;
     color: white;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 1.5rem;
     background-color: #333;
     transition: 1s;
     transform: translateY(-100vh);
    }

    nav> ul{
        display: block;
        margin-right: 50%;
        margin-top: 50px;
        
    }

    nav ul li{
        margin-top: 30px;
    }
   
   
    .responsive_nav{
        transform: none;
      }
    
      .nav-close-btn {
         position: absolute;
         top: 2rem;
         right: -5rem;
      }


    .n-button{
       margin-right: 7rem;
       margin-bottom: 100px;
    }

    .n-wrapper{
        left: 0;
      
        
    }

.n-left{
    
    padding-left: 20px;
    
}
};
