

.n-wrapper{
    height:10vh ;
    display: flex;
    justify-content: space-between;
    background-color: var(--orange);
    position: fixed;
    width: 100%;
     top: 0;
     z-index: 2;
}

.n-left{
    flex: 1;
    align-items: center;
    display: flex;
    padding-left: 50px;
    gap: 2rem;

}

.n-name{
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
   
}

.n-right{
    display: flex;
   
    align-items: center;
    justify-content: center;
    font-weight: 400;
    margin-right: 20px;

}

nav{
    display: flex;
    justify-content: space-between ;
    color: black;

}

nav ul{
    display: flex;
    gap:2rem;
    margin-right: 30px;
    padding-top: 20px;
    cursor: pointer;
}

nav ul li:hover{
    cursor: pointer;
    color: white;
}


 .n-button{
   margin-top: 30px;
    background-color: black;
   
}
  .n-right .nav-btn,
  .n-right .nav-close-btn {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.8rem;
    color: #fff;
    display: none;
    padding: 5px;
    margin-right: 1rem;
  }
  

@media  screen and (max-width: 1024px){
   .n-right  .nav-close-btn{
        display: block;
        font-size: 24px;
        position: fixed;
        right: 2rem;
        top: 1rem;
        z-index: 10;
      }

    .n-right .nav-btn {
        display: block;
        font-size: 24px;
        position: fixed;
        right: 15rem;
        top: 1rem;
        z-index: 10;
    }
     
    
nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;               /* panel width */
    height: 100vh;              /* full height for mobile panel */
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    background-color: #111;     /* dark panel color */
    transition: transform 0.45s ease-in-out;
    transform: translateX(100%);/* start off-screen to the right */
    padding: 2rem;
    box-sizing: border-box;
    z-index: 1000;
}

nav > ul{
    display: block;
    width: 100%;
    margin: 4rem 0 0 0;         /* push list down from top */
    padding: 0;
    list-style: none;
}

nav ul li{
    margin: 0;
    padding: 0.8rem 0;          /* tappable area for each item */
    width: 100%;
    font-size: 1.125rem;        /* ~18px */
    color: #fff;
}

/* When nav is open */
nav.responsive_nav{
    transform: translateX(0);   /* slide into view */
}

    /* Hide hamburger and show close button when nav is open */
    .responsive_nav ~ .nav-btn {
        display: none;
       
    }

    .responsive_nav ~ .nav-close-btn {
        display: block;
        position: fixed;
        top: 1rem;
        right: 10rem;
        font-size: 24px;
        color: #fff;
        z-index: 11;
    }


    .n-button{
        margin-left: -40px;
       margin-top: -20px;
       margin-bottom: 100px;

    }

    .n-wrapper{
        left: 0;
      
        
    }

.n-left{
    
    padding-left: 20px;
    
}


}

@media  screen and (max-width: 780px){
   .nav{
       display: none;
   }
}

