.footer{
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    
    position: relative ;
    margin-top: -7rem;
    
}



.f-content {
    position: absolute;
    display: flex; align-items:center ;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 6rem;
    color: white;
    gap: 4rem;
}

.f-icons{
display: flex;
gap: 2rem;
margin-bottom: 20px;
}

@media screen and (max-width: 480px){
    .f-content{
        transform:scale(.5)
    }

    span{
        font-size:15px;
    }
}

@media screen and (max-width: 360px){
   .footer{
    margin-top: 40%;
    height: 15rem;
   ;
   }

   span{
     font-size: 35px
   }

   .f-icons{
    margin-top: 50px;
   }
}