 .toggle{
    display: flex;
    justify-content: space-between ;
    border: 3px solid white;
    border-radius: 1rem;
    padding: 3px;
    cursor: pointer;
    
 }

 .toggle>*{
    width: 1rem;
    height: 1rem;
    color:black;
 }

 .t-button{
    border-radius: 108% ;
    background: black;
    position: absolute;
    
   
 }

 @media screen and (max-width: 480px){
    .t-button{
        left:10rem ;
        position: absolute;
    }
    .toggle{
        width: 2rem;
        margin-left: 20px;
    }
 }
