.intro{
    width: 100%;
    height: 100vh;
    align-items: center;
    margin-top: 5rem;
    padding-left: 50px;
    
}



.i-name{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.i-name>:nth-child(1){
    color: var(--black);
    font-weight: bold;
    font-size: 10rem;
}

.i-name>:nth-child(2){
    color: var(--orange);
    font-weight: bold;
    font-size: 5rem;
}

.i-name>:nth-child(3){
    font-weight: 100;
    font-size: 20px;
    color:var(--black);
    margin-top: 10px;

}

.i-button{
    width: 6rem;
    height:2rem; 
    margin-left: 30rem;
    margin-top: 40px;
    
}

.i-icons{
    margin-top: 3rem;
    display: flex;
    gap: 0rem;
    justify-content: center;
}

.i-icons>*{
    transform: scale(0.5);
}

.i-icons>*:hover{
    cursor: pointer;
}



.blur{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    z-index: -9;
    top: -18%;
    left: 56%;
    filter:blur(72px) ;
}

@media screen and (max-width: 1280px){
    .intro{
        
        margin-left:-100px;
        margin-top:20%;
    }

     .i-name>:nth-child(1){
        
        font-weight: 600;
        font-size: 120px;
    }

     .i-button{
      
       margin-left: 45%;
        margin-top: 80px;
        
    }


}

@media screen and (max-width: 1024px){
  
    .intro{
        align-items:left;
        margin-left:-30px;
        margin-top:20%;
       
    }

    .i-name>:nth-child(1){
        
        font-weight: bold;
        font-size: 100px;
    }

    .i-name>:nth-child(2){
        
        font-weight: 600;
        font-size: 70px;
    }

    .i-name>:nth-child(3){
        
        font-weight: 500;
        font-size: 20px;
    }

    .i-button{
      
       margin-left: 40%;
        margin-top: 80px;
        
    }

    .i-icons{
        margin-left: -80px;
    }
    
  }


  @media screen and (max-width: 780px){

 .intro{
    padding-left:none;
    margin-left:-50px;
 }

      .i-name>:nth-child(1){
        
        font-weight: 500;
        font-size: 70px;
    }

      .i-name>:nth-child(2){
        
        font-weight: 400;
        font-size: 50px;
    }

      .i-name>:nth-child(3){
        font-weight: 600;
        font-size: 15px;
    }

    .i-icons{
        margin-left: -50px;
    }
    
  }

  @media screen and (max-width: 480px){

 

      .i-name>:nth-child(1){
        
        font-weight: 400;
        font-size: 50px;
    }

      .i-name>:nth-child(2){
        
        font-weight: 200;
        font-size: 30px;
    }

      .i-name>:nth-child(3){
        font-weight: 500;
        font-size: 12px;
    }
    
     .i-button{
      
       margin-left:140px;
        margin-top: 80px;
        
    }

    .i-icons{
        margin-left: -20px;
    }
    
  }

